.nav-wrapper{
  margin-bottom: 3rem;
  padding-left: 1rem;
}
.price{
  font-size: 2rem;
}
.course{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course h1 {
  margin-bottom: 2rem;
}
.course img {
  max-width: 600px;
  height: auto;
}
.course .price.big {
  font-size: 2.5rem;
}
.card-action.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-delete{
  margin-top: 15px;
}

.alert{
  padding: 7px 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
  background-color: rgba(255, 0, 0, .2);
  color: red;
}